.list-card {
	position: relative;
	display: flex;

	&:hover {
		.list-card-content {
			opacity: 1;
		}
	}
}

.list-card-content {
	position: absolute;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	background: rgba(119, 119, 119, 0.8);
	opacity: 0;
	transition: all .4s;
}